body {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
}

.dangumi {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  width: auto;
  height: auto;
  float: right;
  padding: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: darkgray;
  columns: 15em;
  column-gap: 20px;
  column-rule: 1px dashed darkgray;
}

p {
  margin: 0;
}