body {
  font-family: sans-serif;
}

h1 {
  font-size: 1.5em;
  margin: 0 0 0 0.5em;
}

.dangumi {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  width: 95vw;
  height: auto;
  padding: 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: darkgray;
  columns: 15em;
  column-gap: 20px;
  column-rule: 1px dashed darkgray;
}

@-moz-document url-prefix() {
  .dangumi {
    width: auto;
    float: right;
  }
}

[contenteditable] {
  user-select: text;
  -webkit-user-select: text;
}